<link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      html {
        height: 100%;
      }
      body {
        min-height: 100%;
        background: #eee;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        color: #222;
        font-size: 14px;
        line-height: 26px;
        padding-bottom: 50px;
      }
      .container {
        
    position: relative;
    left: -39px;
    margin-top: 41px;
    


        max-width: 700px;
        background: #fff;
        margin: 0px auto 0px;
        box-shadow: 1px 1px 2px #DAD7D7;
        border-radius: 3px;
        padding: 40px;
        margin-top: -28px;
      }
      .header {
        margin-bottom: 30px;
      }
      .header .full-name {
        font-size: 40px;
        text-transform: uppercase;
        margin-bottom: 5px;
      }
      .header .first-name {
        font-weight: 700;
      }
      .header .last-name {
        font-weight: 300;
      }
      .header .contact-info {
        margin-bottom: 20px;
      }
      .header .email, .header .phone {
        color: #999;
        font-weight: 300;
      }
      .header .separator {
        height: 10px;
        display: inline-block;
        border-left: 2px solid #999;
        margin: 0px 10px;
      }
      .header .position {
        font-weight: bold;
        display: inline-block;
        margin-right: 10px;
        text-decoration: underline;
      }
      .details {
        line-height: 20px;
      }
      .details .section {
        margin-bottom: 40px;
        margin-bottom: 31px;
    height: 166px;
    margin-top: -5px;
      }
      .details .section:last-of-type {
        margin-bottom: 0px;
      }
      .details .section__title {
        letter-spacing: 2px;
        color: #54AFE4;
        font-weight: bold;
        margin-bottom: 10px;
        text-transform: uppercase;
      }
      .details .section__list-item {
        margin-bottom: 40px;
      }
      .details .section__list-item:last-of-type {
        margin-bottom: 0;
      }
      .details .left, .details .right {
        vertical-align: top;
        display: inline-block;
      }
      .details .left {
        width: 60%;
      }
      .details .right {
        text-align: right;
        width: 39%;
      }
      .details .name {
        font-weight: bold;
      }
      .details a {
        text-decoration: none;
        color: #000;
        font-style: italic;
      }
      .details a:hover {
        text-decoration: underline;
        color: #000;
      }
      .details .skills__item {
        margin-bottom: 10px;
      }
      .details .skills__item .right input {
        display: none;
      }
      .details .skills__item .right label {
        display: inline-block;
        width: 20px;
        height: 20px;
        background: #C3DEF3;
        border-radius: 20px;
        margin-right: 3px;
      }
      .details .skills__item .right input:checked + label {
        background: #79A9CE;
      }
      
      .ULlist1{
        list-style:none;
        position: absolute;
        left: 269px;
      }
      
      .ULlist2{
        list-style:none;
        position: absolute;
        left: 435px;
      }
      .ULlist3{
        list-style:none;
        position: absolute;
        left: 74px;
      }
      
</style>
<div class="container" style="page-break-after: always;">
  <div class="header">
    <div class="full-name">
      <span class="first-name">{{context.Name}}</span> 
    </div>
    <div class="contact-info">
      <span class="email">Email: </span>
      <span class="email-val">{{context.Email}}</span>
      <span class="separator"></span>
      <span class="phone">Phone: </span>
      <span class="phone-val">{{context.Mob}}</span>
    </div>
    
    <div class="about">
      <span class="position">{{context.Role}} </span>
      <span class="desc">
        I am a front-end developer with more than 3 years of experience writing html, css, and js. 
      </span>
    </div>
  

   <div class="details">
    <div class="section">

      <div class="section__title">Experience</div>
      <div class="section__list">
          {%for j in context.company%}
        <div class="section__list-item">
          <div class="left">
            <div class="name"><strong>Company::</strong>{{j.n}}</div>
            <div class="addr"><strong>Location::</strong>{{j.c}}</div>
            <div class="duration">{{j.d}}</div>
          </div>
          <div class="right">
            <div class="name">Role-{{j.t}}</div>
          </div>
        </div>
                
{%endfor%}
      </div>
    </div>
    <div class="section">
      <div class="section__title">Education</div>
      <div >
        <ul class="ULlist1" 
>
          <li ><Strong>School</Strong></li><br>
          <li>{{context.school1.n}} {{context.school1.a}} {{context.school1.g}}</li><br>

        </ul>
        <ul class="ULlist2">
            <li><Strong>University</Strong></li><br>
            <li>{{context.school2.n}} {{context.school2.a}} {{context.school2.g}}</li><br>
  
          </ul>
          <ul class="ULlist3">
            <li><Strong>GPA</Strong></li><br>
            <li>{{context.school3.n}} {{context.school3.a}} {{context.school3.g}}</li><br>
  
          </ul>
        

      </div>
  </div>
    
     <div class="section">
       <div class="section__title">Skills</div>
       {%for j in context.Skills%}
       <div class="skills">
           
         <div class="skills__item">
           <div class="left"><div class="name">
            {{j}}
             </div></div>
           <div class="right">
                          <input  id="ck1" type="checkbox" checked/>

             <label for="ck1"></label>
                          <input id="ck2" type="checkbox" checked/>

              <label for="ck2"></label>
                         <input id="ck3" type="checkbox" />

              <label for="ck3"></label>
                           <input id="ck4" type="checkbox" />
            <label for="ck4"></label>
                          <input id="ck5" type="checkbox" />
              <label for="ck5"></label>

           </div>
         </div>
         {%endfor%}
       </div>
       
     <div class="section">
     <div class="section__title">
       Hobbies
       </div>
       <div class="section__list">
         <div class="section__list-item">
        {%for j in context.Hobbies%}
                 {{j}},
                 {%endfor%}etc..
                </div>
       </div>
     </div>
     </div>
  </div>
</div>
<hr>

